.media-library-uploader {
    margin: 50px 50px;
    border: 1px dashed black;
    padding: 0px;
}
.add{
    height: 50px;
    width: 50px;
    float:left;
    padding: 10px;
    margin: 15px;
}
button.media-library-dropzone.media-library-dropzone-add {
    width: 90%;
}
input.media-library-hidden {
    height: 80px;
    width: 1125px;
    display: block;
    margin-left: -80px;
    opacity: 0;
    cursor:pointer;
}
.media-library-add {
    height: 80px;
}
.media-library-help {
    margin-top: -50px;
}

#voyager-loader{
    background:#f9f9f9;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:99
}
#voyager-loader img{
    width:100px;
    height:100px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-50px;
    margin-right:-50px;
    -webkit-animation:infinite 1s linear infinite;
    animation: infinite 1s linear infinite
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #151515;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 0px);
    left: calc(50% - 30px);
    border: 6px solid #ffc451;
    border-top-color: #151515;
    border-bottom-color: #151515;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }